@import url("./reset.css");
@import url("./colors.css");
@import url("./base.css");
@import url("./banner.css");
@import url("./main.css");
@import url("./footer.css");
@import url("./gallery.css");

.page-title {
	margin: 2rem;
	padding: 1rem;
	text-align: center;
	border-bottom: 2px solid var(--tertiary);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 2rem;
}

.avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--primary);
	padding: 2rem;
	margin: 1rem;
	border-radius: 2rem;
}

.avatar__title {
	margin-top: 1rem;
}

.avatar-figure__img-artist {
	border-radius: 100%;
}

.artist-view__nav {
	background-color: var(--nav);
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 1rem;
}

.artist-view__nav__list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.play-circle {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: var(--darkerer);
	margin-right: 1rem;
}

.play-circle:hover {
	background-color: var(--text-default);
}

.play-button {
	position: relative;
	left: 16px;
	top: 9px;
	padding-left: 20px;
	outline: none;
	background-color: transparent;
	border-width: 15px 0px 15px 25px;
	border-color: transparent transparent transparent var(--emphasis);
}

.results-container {
	margin-bottom: 40px;
}

.results-container div:hover {
	background-color: var(--darkerer);
}

.song-box {
	background-color: var(--darker);
	min-width: 40vw;
	margin: 0.5rem 2rem;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.song-info {
	margin-right: 1rem;
	text-align: left;
	flex-grow: 2;
}