/* VARIABLES */
:root {
	--nav: #110d0d;
	--primary: #130303;
	--secondary: #2d080a;
	--tertiary: #7c3626;
	--emphasis: #f5853f;
	--text-default: #ffcdbc;
	--darker: #00000044;
	--darkerer: #00000098;
	--blue: #292973;
	--green: #00aa00;
	--black: #000;
	--white: #fff;
}
