.main {
	flex-grow: 1; /* using flex-grow here makes the main take up remaining free space, pushing the footer to the bottom of the container if the content wouldn't otherwise do so. */
	width: 100%;
	background: linear-gradient(
		180deg,
		var(--primary),
		var(--secondary),
		var(--primary)
	);
	color: var(--text-default);
}
